body{
    background: #d9d0c6;
}

#logo{
    background: #fd7e14;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-top: .5em;
}

#main-header{
    font-size: 64px;
    font-family: sans-serif;
}

/*.navbar{*/
/*    background-color: #d9d0c6;*/
/*}*/
#greeting{

}