body{
    background: #d9d0c6;
}

#logo{
    background: #fd7e14;
    max-width: 200px;
    max-width: 200px;
    border-radius: 50%;
}

#main-header{
    font-size: 64px;
    font-family: sans-serif;
}

#greeting{

}